:root{
 --board-background: #ebebeb;
 --board-border: #333;

 --square-background: #fff;
 --square-border: #999;
 --square-hover: #a2bdbb;

 --checked-Box: #a2bdbb;

 --winner: #b3497f;

 --buttonReset: #db8f88;
 --buttonReset-hover: #c56a62;
}


body {
  font-family: system-ui, sans-serif;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 100px;
}

.instructionPanel {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}

.instructionPanel span{
  font-size: 20px;
  margin-left: 4px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;

  padding: 4px;
  background-color: var(--board-background);
  border: 4px solid var(--board-border);
  border-radius: 3px;
}

.square {

  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;

  background-color: var(--square-background);
  border: 2px solid var(--square-border);
}

.square:hover {
  background-color: var(--square-hover);
  cursor: pointer;
}

.checkedBox {
  background-color: var(--checked-Box);
}

.checkedBox:hover {
  cursor: default;
}

.winner {
  background-color: var(--winner);
}

.winner:hover {
  background-color: var(--winner);
}

.buttonReset {
  margin-top: 25px;
  padding: 9px 30px;
  border-radius: 3px;
  background-color: var(--buttonReset);
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.buttonReset:hover {
  background-color: var(--buttonReset-hover);
}
